@font-face {
  font-family: Inter;
  src: url(../assets/fonts/inter-var.woff2);
}

@font-face {
  font-family: 'Bluu Next';
  src: url(../assets/fonts/bluunext.woff2), url(../assets/fonts/bluunext.woff);
}

/* div.alexa {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.alexa img {
  width: 20%;
  margin: 20px 0;
} */

:root {
  --green: #064234;
  --pink: #f3ceee;
  --purple: #67419e;
  --maroon: #6c3052;
  --black: #000;
  --white: #fff;
  --font-stack-serif: 'Bluu Next', 'Times New Roman', serif;
  --font-stack-sans-serif: Inter, 'Roboto', -apple-system, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack-sans-serif);
  min-height: 100vh;
  margin: 40px auto;
  max-width: 940px;
  line-height: 1.15;
  background-color: var(--pink);
  background-image: linear-gradient(
    180deg,
    var(--white),
    rgba(255, 255, 255, 0)
  );
}

h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.67em 0;
}

h1.animated-title {
  font-size: 3vw;
  font-variation-settings: 'wght' 400;
  animation: animate-type 3s infinite alternate;
}

@keyframes animate-type {
  0% {
    font-variation-settings: 'wght' 400, 'slnt' 0;
    letter-spacing: 0em;
  }
  100% {
    font-variation-settings: 'wght' 900, 'slnt' -10;
    letter-spacing: 0.1em;
  }
}

span {
  font-weight: 200;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.4vw;
}

@media (max-width: 860px) {
  nav {
    flex-direction: column;
    column-gap: 12px;
  }

  nav a {
    margin-top: 12px;
  }

  nav a:hover::before {
    display: none;
  }
}

@media (max-width: 784px) {
  h1.animated-title {
    font-size: 24px;
  }

  span {
    font-size: 12px;
  }
}

p {
  line-height: 1.6;
  margin-bottom: 1em;
}

a {
  color: var(--green);
  font-weight: bold;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin: 0 10px;
  cursor: pointer;
}

/* HOME */
body.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.header.home {
  text-align: center;
  padding-top: 40px;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 100%;
  max-width: 100%;
  padding: 0.25rem;
}

.avatar:hover {
  border: 2px solid var(--purple);
}

.social {
  margin-top: 1em;
}

.socials a {
  text-decoration: none;
  padding: 0.25rem;
}

img.social {
  border-style: none;
  height: 2rem;
  max-width: 100%;
  width: 2rem;
}

img.social:hover {
  filter: invert(30%) sepia(50%) saturate(886%) hue-rotate(225deg)
    brightness(90%) contrast(93%);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 80px;
}

nav a {
  display: inline-block;
  text-align: center;
  position: relative;
  font-family: var(--font-stack-sans-serif);
  text-decoration: none;
  font-size: 20px;
  color: var(--green);
}

nav a::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--green);
  border-radius: 70%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-10px);
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

nav a:hover::before {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

@media (max-width: 660px) {
  nav a:hover::before {
    display: none;
  }
}

/* COVER LETTER */
body.cover {
  padding: 0 20px 60px;
  background-color: var(--pink);
  background-image: linear-gradient(
    180deg,
    var(--white),
    rgba(255, 255, 255, 0)
  );
}

.cover a {
  color: var(--green);
}

footer.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--green);
  padding: 10px;
}

footer.footer a {
  color: var(--pink);
}

path {
  fill: var(--pink);
}

/* ACADEMY */
body.academy {
  background-image: linear-gradient(
    90deg,
    var(--white),
    rgba(255, 255, 255, 0)
  );
}

.academy h1 {
  margin-bottom: 6px;
}

.header.academy {
  padding: 0 20px;
}

.academy p {
  margin: 0 0 40px 0;
}

.academy a {
  font-family: var(--font-stack-sans-serif);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  position: relative;
}

.academy li {
  list-style: none;
  margin-left: 40px;
}

.academy li::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--maroon);
  border-radius: 70%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  top: -4px;
  left: 5px;
  opacity: 0;
}

.academy li:hover::after {
  opacity: 1;
}

/* ABOUT */
body.about {
  font-family: var(--font-stack-serif);
  font-size: 24px;
  line-height: 1.25;
  background-color: var(--maroon);
  background-image: linear-gradient(
    180deg,
    var(--white),
    rgba(255, 255, 255, 0)
  );
  height: 100vh;
  transition: background-color 0.5s;
}

.about h1 {
  font-family: var(--font-stack-serif);
  font-size: 24px;
  margin: 10px 0;
}

.about h2 {
  font-size: 10vmin;
  color: inherit;
}

section.about {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

section.about .circle {
  width: 20px;
  height: 20px;
  background-color: var(--green);
  border-radius: 70%;
  display: inline-block;
  transition: background-color 0.5s;
}
